---
import fetchApi from '@lib/strapi'
import type HeadingInfos from '@interfaces/headingInfos'
import { Icon } from 'astro-icon/components'
import Navigation from '@components/Navigation.astro'

const headingInfos = await fetchApi<HeadingInfos[]>({
  endpoint: 'heading-infos',
  wrappedByKey: 'data'
})

const info = headingInfos[0]
---

<header class="introduction">
  <div>
    <h1 class="capitalize max-w-xs">{info.name}</h1>
    <h2 class="mt-3">{info.position}</h2>
    <p class="mt-4 max-w-xs leading-normal">{info.introduction}</p>
    <Navigation />
  </div>
  <ul class="flex mt-8 ml-1">
    {
      info.links.map((link) => {
        return (
          <li class="mr-5">
            <a href={link.url}>
              <Icon name={link.name} class="text-2xl" aria-label={link.name} />
            </a>
          </li>
        )
      })
    }
  </ul>
</header>
